{% load static %}
<head>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="MIO - My India Overseas">
    <meta name="keywords"
        content="MIO - My India Overseas">
    <meta name="author" content="Fabs Infotech">
    <meta name="robots" content="index, follow">


    <!-- Title -->
    <title> My India Overseas </title>

    {% block css %}
        {% include "partials/style.html" %}
    {% endblock css %}
  
</head>